html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  display: block;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow: hidden;
}

.section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.top-place {
  display: flex;
}

.header__burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40;
  height: 40;
  margin-left: auto;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header__burger-btn {
    display: none;
  }
}

.navigate {
  display: flex;
  height: 60px;
}
.navigate__list {
  display: flex;
  display: none;
}
.navigate__item:not(:last-child) {
  margin-right: 50px;
}
.navigate__item:first-child {
  margin-left: 93px;
}
.navigate__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigate__link:hover, .navigate__link:focus {
  color: #2196f3;
}
.navigate__link--active {
  color: #2196f3;
}
.navigate__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
}
@media screen and (min-width: 768px) {
  .navigate {
    height: 80px;
  }
  .navigate__list {
    display: flex;
  }
}
.logo {
  display: flex;
  align-items: center;
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
}
.logo--bottom-distance {
  padding-bottom: 20px;
}
.logo__first-part {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.logo__second-part {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.logo__second-part--color {
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.contacts {
  display: none;
}
.contacts__link {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:hover .contacts__icon {
  color: #2196f3;
  fill: #2196f3;
}
.contacts__link:focus, .contacts__link:focus .contacts__icon {
  color: #2196f3;
  fill: #2196f3;
}
.contacts__icon {
  margin-right: 8px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: auto;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  padding: 48px 40px;
  overflow: scroll;
}
.mob-menu__btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.mob-menu__btn-close:hover, .mob-menu__btn-close:focus {
  fill: #2196f3;
}
.mob-menu__list {
  margin-bottom: 200px;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 30px;
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-menu__link--position-active {
  color: #2196f3;
}
.mob-menu__contact-list {
  margin-bottom: 64px;
}
.mob-menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__contact-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob-menu__contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}
.mob-menu__soc-list {
  display: flex;
}
.mob-menu__soc-item {
  padding: 0 10px;
}
.mob-menu__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.mob-menu__soc-item--border {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 479px) {
  .mob-menu {
    padding: 20px 10px;
  }
  .mob-menu__list {
    margin-bottom: 100px;
  }
  .mob-menu__soc-item {
    padding: 0 3px;
  }
  .mob-menu__soc-item:first-child {
    padding-left: 0;
  }
  .mob-menu__soc-item:last-child {
    padding-right: 0;
  }
}
@media screen and (min-width: 480px) {
  .mob-menu {
    padding: 48px 40px;
  }
  .mob-menu__list {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 768px) {
  .mob-menu {
    width: 480px;
    display: none;
  }
}

.hero {
  display: block;
  margin: 0 auto;
  padding: 118px 40px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-img/1x/1x-mobile-hero.jpg);
  max-width: 1600px;
  max-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
  /* 2x screens, retina */
}
@media (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-img/2x/2x-mobile-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.hero__inner {
  max-width: 480px;
  max-height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.hero__button {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-property: color;
  transition-property: background-color;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  color: #212121;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 204px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-img/1x/1x-tablet-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* 2x screens, retina */
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-img/2x/2x-tablet-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .hero__inner {
    width: 460px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-img/1x/1x-desktop-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* 2x screens, retina */
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-img/2x/2x-desktop-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) {
  .hero__inner {
    width: 770px;
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
@media screen and (min-width: 1200px) {
  .hero__button {
    width: 216px;
  }
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.features__item {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
.features__div-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  padding: 25px auto;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.features__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}
.features__text {
  color: #757575;
  line-height: 1.71;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
  .features__title {
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.services {
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .services {
    display: none;
  }
}

.services__title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.services__list {
  display: flex;
}

.services__item,
.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__div-image {
  position: relative;
  width: 370px;
  height: 294px;
}

.services__image-subscriprion {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 370px;
  max-height: 70px;
  padding: 27px 106px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
}
.team__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__item-card {
  display: block;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.team__image {
  margin-bottom: 30px;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__position {
  padding-bottom: 30px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team__item-card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item-card {
    width: calc((100% - 90px) / 4);
  }
  .team__title {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__item, .social__link, .social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__item {
  transition-property: background-color;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-bottom: 30px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:hover .social-link {
  background-color: #2196f3;
  fill: #ffffff;
}
.social__link:focus, .social__link:focus .social-link {
  background-color: #2196f3;
  fill: #ffffff;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
}
.clients__title {
  margin-bottom: 50px;
  color: var(--text-color-black);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1428571429;
  text-align: center;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icons {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:hover .clients__icons {
  border-color: #2196f3;
  fill: #2196f3;
}
.clients__link:focus, .clients__link:focus .clients__icons {
  border-color: #2196f3;
  fill: #2196f3;
}
@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
  .clients__link {
    width: 170px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  /* ------------footer-form--------------- */
}
.footer .flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer__part {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.footer .address__list {
  text-align: center;
}
.footer .address__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .address__link {
  color: #ffffff;
  line-height: 1.71;
  font-style: normal;
}
.footer .address__contact {
  color: rgba(255, 255, 255, 0.4);
  line-height: 1.71;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .address__contact:hover, .footer .address__contact:focus {
  color: #2196f3;
}
.footer .footer-social {
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .footer-social__title {
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
}
.footer .footer-social__list {
  display: flex;
  gap: 10px;
}
.footer .footer-social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-bottom: 30px;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  fill: #ffffff;
}
.footer .footer-social__link:hover {
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .footer-social__link:focus {
  background-color: #2196f3;
}
.footer .footer-form {
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
}
.footer .footer-form__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.footer .footer-form__div-label {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.footer .footer-form__input {
  display: block;
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition-property: border;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}
.footer .footer-form__button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.66;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  transition-property: background-color;
  transition-property: box-shadow;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .footer-form__button:hover, .footer .footer-form__button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer .footer-form__icon {
  fill: #ffffff;
  margin-left: 10px;
}
@media screen and (max-width: 479px) {
  .footer .footer-form__input {
    width: 300px;
  }
}
@media screen and (min-width: 480px) {
  .footer .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .footer .flex {
    display: flex;
    flex-flow: wrap;
  }
  .footer .footer__part {
    margin-left: 76px;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .flex {
    display: flex;
    flex-flow: nowrap;
    align-self: baseline;
  }
  .footer .footer__part {
    margin-left: 0;
    margin-right: 70px;
  }
  .footer .address__list {
    text-align: left;
  }
  .footer .footer-social {
    margin-right: 93px;
  }
  .footer .footer-social__link {
    margin-bottom: 0;
  }
  .footer .footer-form__title {
    margin-right: auto;
  }
  .footer .footer-form__div-label {
    flex-flow: nowrap;
  }
  .footer .footer-form__button {
    margin-top: 0;
    margin-left: 12px;
  }
}

.modal {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 90%;
  max-height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.modal__btn-close:hover, .modal__btn-close:focus {
  fill: #2196f3;
}
.modal__title {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 40px 40px 0px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 40px 20px 40px;
  gap: 10px;
}
.modal__span-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__input {
  width: 370px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: #2196f3;
  transition-property: border;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.modal__input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__div-person, .modal__div-phone, .modal__div-mail {
  display: block;
  position: relative;
}
.modal__icon-person, .modal__icon-phone, .modal__icon-mail {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover + .modal__icon-person {
  fill: #2196f3;
}
.modal__input:focus + .modal__icon-person {
  fill: #2196f3;
}
.modal__input:hover + .modal__icon-phone {
  fill: #2196f3;
}
.modal__input:focus + .modal__icon-phone {
  fill: #2196f3;
}
.modal__input:hover + .modal__icon-mail {
  fill: #2196f3;
}
.modal__input:focus + .modal__icon-mail {
  fill: #2196f3;
}
.modal__label-feedback {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 120px;
  margin-bottom: 20px;
  color: #757575;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal__user-coments {
  display: block;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: #2196f3;
  resize: none;
}
.modal__user-coments:hover, .modal__user-coments:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.modal__div-check {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__input-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.modal__input-check:checked + .modal__agree-check .modal__check-span {
  background-color: #2196f3;
  border: none;
  fill: #ececec;
}
.modal__agree-check {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
}
.modal__agree-check .modal__check-span {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #2f303a;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition-property: fill;
  transition-property: background-color;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__agree-check-link {
  margin-left: 7px;
  font-size: 14px;
  line-height: 1.71;
  color: #2196f3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.modal__btn-form-submit {
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 7px;
  color: #ffffff;
  background-color: #2196f3;
  transition-property: background-color;
  transition-property: box-shadow;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-form-submit:hover, .modal__btn-form-submit:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (max-width: 479px) {
  .modal {
    width: 290px;
  }
  .modal__input {
    width: 280px;
  }
  .modal__label-feedback {
    width: 280px;
  }
  .modal__agree-check {
    font-size: 10px;
    line-height: 1.1;
    color: #757575;
  }
  .modal__agree-check-link {
    margin-left: 3px;
    font-size: 10px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    max-width: 480px;
  }
  .modal__btn-form-submit {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 768px;
    top: 5%;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 1200;
    top: 5%;
    width: 528px;
    min-height: 581px;
  }
  .modal__input {
    width: 448px;
  }
  .modal__label-feedback {
    width: 448px;
  }
  .modal__agree-check {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
  }
}

.portfolio-projects {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
}

.projects {
  border: none;
}

.project-list-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  background-color: #ffffff;
}

.list-item-button {
  margin-bottom: 50px;
  background-color: #f5f4fa;
}

.project-list-item-button {
  padding: 6px 22px;
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background-color: #f5f4fa;
  transition-property: color;
  transition-property: background-color;
  transition-property: box-shadow;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list-item-button:hover,
.project-list-item-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -15px;
}

.portfolio-project-item {
  width: 370px;
  margin: 15px;
  background-color: #ffffff;
}

.portfolio-project-link {
  display: block;
  color: #212121;
  transition-property: box-shadow;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.border-div {
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.portfolio-project-list-title {
  padding-top: 20px;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-project-list-text {
  padding-bottom: 20px;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-project-list-title,
.portfolio-project-list-text {
  padding-left: 24px;
}

/* -----------------backdrop------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 200ms linear, visibility 200ms linear;
}

.relative-div {
  position: relative;
  overflow: hidden;
}

.portfolio-switch-text {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.portfolio-project-link:hover .portfolio-switch-text {
  transform: translateY(0);
}

.portfolio-project-link:focus .portfolio-switch-text {
  transform: translateY(0);
}