@import './utils/variables';
@import './utils/reset';
@import './utils/body';
@import './utils/hidden';
@import './utils/container';
@import './components/header';
@import './components/logo';
@import './components/hero';
@import './utils/central-part';
@import './components/features';
@import './components/servises';
@import './components/team';
@import './components/cliets';
@import './components/footer';
@import './components/portfolio-projects';
@import './components/modal-form'