

.features {

&__list{
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 30px;
}

&__item {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 768px) {
      @include calc (2, 30px);
    }
  
}
&__div-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  padding: 25px auto;
  border-radius: 4px;
  background-color: $background-color-dark-white;
}

&__title{
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

}

&__text{
  color: $text-color-grey;
  line-height: 1.71;
}

}

// &__list{
//   display: flex;
// }

// &__item {
//   display: flex;
//   flex-direction: column;
//   max-width: 270px;
// }

// &__item:not(:last-child) {
//   margin-right: 30px;
// }

// &__div-icon {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 270px;
//   height: 120px;
//   border-radius: 4px;
//   background-color: $background-color-dark-white;
// }

// &__title {
//   margin-top: 30px;
//   margin-bottom: 10px;
//  
// }

