.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color-black;


.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}


.footer__part{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}



// ------------------address-------------------



.address{

&__list{
  text-align: center;
}

&__item:not(:last-child) {
  margin-bottom: 9px;
  
}

&__link {
  
  color: $text-color-white;
  line-height: 1.71;
  font-style: normal;
}

&__contact {
  
  color: $address-links-color-grey;
  line-height: 1.71;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__contact:hover,
&__contact:focus {
  color: $accent-color-blue;
}

}



// -------------footer-social---------------------

.footer-social {
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;


&__title {

  margin-bottom: 20px;

  color: $text-color-white;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
}

&__list {
  display: flex;
  gap: 10px;
}

&__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

&__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-bottom: 30px;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));

  fill: $background-color-full-white;
}

&__link:hover {
  background-color: $accent-color-blue;
  transition-property: background-color;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:focus {
  background-color: $accent-color-blue;
}

}



/* ------------footer-form--------------- */





.footer-form {
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;


&__title{
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $text-color-white;
  text-align: center;
}


&__div-label{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}


&__input {
  display: block;
  
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition-property: border;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: $background-color-black;
}

// .icon-button {
//   padding-top: 108px;
// }

&__button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.66;
  letter-spacing: 0.06em;
  color: $text-color-white;
  background-color: $accent-color-blue;
  border: none;

  transition-property: background-color;
  transition-property: box-shadow;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__button:hover,
&__button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

&__icon {
  fill: $background-color-full-white;
  margin-left: 10px;
}
}


@media screen and (max-width: 479px) {
  .footer-form__input {
    width: 300px;
  }
}

@media screen and (min-width: 480px) {
  .footer-form__input{
    width: 450px;
  }
}


@media screen and (min-width: 768px) {
  
  .flex{
  display: flex;
  flex-flow: wrap;
  }
  
  .footer__part{
    margin-left: 76px;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {

  .flex {
    display: flex;
    flex-flow: nowrap;
    align-self: baseline;
    
  }

  .footer__part {
    margin-left: 0;
    margin-right: 70px;
  }

  .address {
  
    &__list {
      text-align: left;
    }
  }
  .footer-social{
    margin-right: 93px;
    &__link {
        margin-bottom: 0;
    }
  }

  .footer-form__title {
    margin-right: auto;
  }
  .footer-form__div-label{
    flex-flow: nowrap;
  }

  .footer-form__button{
    margin-top: 0;
    margin-left: 12px;
  }

}

}