

.header {
  background-color: $background-color-full-white;
  border-bottom: 1px solid $border-color-grey;
}

.top-place{
  display: flex;
  
}

.header__burger-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: $background-color-full-white;

  @media screen and (min-width: 768px) {
    display: none;


}
}





.mob-menu{
width: 100%;
height: 100%;
position: fixed;
top: 0;
background-color: $background-color-full-white;
padding: 48px 40px;
}

.mob-menu__btn-close {

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-color-full-white;
}

.mob-menu__btn-close:hover,
.mob-menu__btn-close:focus {

  fill: $accent-color-blue;
}


.mob-menu__list {
  margin-bottom: 40px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 30px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: $text-color-black;
}

.position--active {
  color: $accent-color-blue;
}

.mob-menu__contact-list {
  margin-bottom: 64px;
}

.mob-menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}


.mob-menu__contact-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;

  color: $accent-color-blue;
}
.mob-menu__contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  
  color: $text-color-grey;
  
}

.mob-menu__soc-list {
  display: flex;
  
  
}

.mob-menu__soc-item {
padding: 0 10px;
}

.mob-menu__soc-link {

  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196F3;
    
}


.mob-menu__soc-item--border{
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

