

.hero {
  display: block;
  margin: 0 auto;
  padding: 118px 40px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/mobile-img/1x/1x-mobile-hero.jpg);
  max-width: 1600px;
  max-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $background-color-black;

/* 2x screens, retina */

  @media (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile-img/2x/2x-mobile-hero.jpg);
      
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  


&__inner {
  max-width: 480px;
  max-height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

&__title {
  margin-bottom: 30px;

  color: $text-color-white;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

&__button {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  color: $text-color-white;
  background-color: $accent-color-blue;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition-property: color;
  transition-property: background-color;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__button:hover,
&__button:focus {
  color: $text-color-black;
  background-color: $background-color-full-white;
}
@media screen and (min-width: 480px) { 
  
}


@media screen and (min-width: 768px) {

  padding: 118px 204px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/tablet-img/1x/1x-tablet-hero.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  /* 2x screens, retina */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/tablet-img/2x/2x-tablet-hero.jpg);

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    
  }

  &__inner {
    width: 460px;
  }
}


@media screen and (min-width: 1200px) {
  
  padding: (200px auto);

background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/desktop-img/1x/1x-desktop-hero.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* 2x screens, retina */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/desktop-img/2x/2x-desktop-hero.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
&__inner {
  width: 770px;
  max-width: 1200px;
  
}
&__title {

  font-size: 44px;
  line-height: 1.36;
}
&__button {
  width: 216px;
}

}

}


// .hero__title {

//   font-size: 44px;
//   line-height: 1.36;
// }


// .hero__button {
//   width: 216px;
//   height: 50px;
//   margin: 0 auto;
//   color: $text-color-white;
//   background-color: $accent-color-blue;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   letter-spacing: 0.06em;
//   cursor: pointer;

//   transition-property: color;
//   transition-property: background-color;
//   transition-duration: 250ms;
//   animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .hero__button:hover,
// .hero__button:focus {
//   color: $text-color-black;
//   background-color: $background-color-full-white;
// }