
.logo {
  
  display: flex;
  align-items: center;
  
  color: $logo-color-black;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);




&--bottom-distance{
  padding-bottom: 20px;
}

&__first-part {
  color: $logo-color-blue;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  
}

&__second-part{
font-family: 'Raleway',
sans-serif;
font-weight: 700;


}

&__second-part--color{
  color: $text-color-white;
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {

  
}

@media screen and (min-width: 1200px) {

  font-size: 26px;
  line-height: calc(31 / 26);
}

}