.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $background-color-dark-white;


&__title {
  margin-bottom: 50px;
  color: var(--text-color-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

&__list {
  display: flex;
  gap: 30px;
}

&__card {
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $background-color-full-white;
}

&__image {
  margin-bottom: 30px;
}

&__name {
  margin-bottom: 10px;
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

&__position {
  padding-bottom: 30px;
  color: $text-color-grey;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
}




