.body {
  font-family: 'Roboto', sans-serif;
  color: $text-color-black;
  background-color: $background-color-full-white;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.no-scroll{
  overflow: hidden;
}