html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
p,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1{
    margin: 0;
    padding: 0;
  }

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  display: block;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;

}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}