
$cliets-logo: #afb1b8;
$background-color-black: #2f303a;
$background-color-white: #f5f5f5;
$background-color-dark-white: #f5f4fa;
$background-color-grey: #757575;
$background-color-full-white: #ffffff;
$text-color-black: #212121;
$text-color-grey: #757575;
$text-color-white: #ffffff;
$text-color-blue: #2196f3;
$logo-color-black: #212121;
$logo-color-blue: #2196f3;
$accent-color-blue: #2196f3;
$border-color-grey: #eeeeee;
$address-links-color-grey: rgba(255, 255, 255, 0.4);
$border-color-grey:#ececec;


